<footer class="footer">
  <div class="footer-container">
    <div class="footer-box">
      <div class="footer-item">
        <a class="footer-logo" href="./index.html">
          <svg class="icon footer-logo" width="17" height="16">
            <use href="../img/icons.svg#footer-logo"></use>
          </svg>
        </a>
        <p class="footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-anchor-contacts">
        <div class="footer-anchor">
          <ul class="footer-anchor-list">
            <li class="footer-anchor-item">
              <a href="#how-it-works">how it works</a>
            </li>
            <li class="footer-anchor-item">
              <a href="#vegetables">vegetables</a>
            </li>
            <li class="footer-anchor-item">
              <a href="#reviews">reviews</a>
            </li>
          </ul>
        </div>
        <div class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a
                class="footer-contacts-link"
                href="tel:+380684439426"
                target="_blank"
                rel="noopener noreferrer nofollow"
              >
                +380 (68) 443-94-26
              </a>
            </li>
            <li class="footer-contacts-item">
              <p>
                1678 S. Pioneer Road Salt <br />
                Lake City UT 84104
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-priv">
        <p class="footer-bottom-item">
          Privacy Policy <span class="slash">/</span> Cookie settings
        </p>
      </div>
      <div class="footer-bottom-copy">
        <p class="footer-bottom-text">©Green Harvest 2023</p>
      </div>
    </div>
  </div>
</footer>
