<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
  </div>
  <picture>
    <source
      srcset="../img/hero-desk-2x.jpg 2x, ../img/hero-desk.jpg 1x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="../img/hero-tab-2x.jpg 2x, ../img/hero-tab.jpg 1x"
      media="(min-width: 768px)"
    />
    <source
      srcset="../img/hero-mob-2x.jpg 2x, ../img/hero-mob.jpg 1x"
      media="(min-width: 375px)"
    />
    <img
      class="hero-img"
      src="../img/hero-desk.jpg"
      alt="organic vegetables to your diet today"
    />
  </picture>
</section>
