<section class="work" id="how-it-works">
  <h2 class="visually-hidden">How it works</h2>
  <div class="work-container">
    <div class="work-img-container">
      <div class="work-picture-wrap">
        <picture class="work-picture">
          <source
            srcset="
              ./img/how-it-works/desktop/Rectangle-2x.avif 2x,
              ./img/how-it-works/desktop/Rectangle-1x.avif 1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/how-it-works/tab/Rectangle-2x.avif 2x,
              ./img/how-it-works/tab/Rectangle-1x.avif 1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/how-it-works/mob/Rectangle-2x.avif 2x,
              ./img/how-it-works/mob/Rectangle-1x.avif 1x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/how-it-works/mob/Rectangle-1x.avif"
            alt="how-it-works"
            width="640"
            height="640"
            class="work-img"
          />
        </picture>
      </div>
    </div>

    <div class="work-text-bg">
      <div class="work-text-wrap">
        <div class="work-text-container">
          <h3 class="work-subtitle">
            To order your
            <span>vegetable</span> basket, simply follow these
            <span>easy steps</span>
          </h3>
          <p class="work-text">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </div>

        <ol class="work-list">
          <li class="work-item">
            <div>
              Just choose
              <span>the vegetable</span>
              you want to order by clicking on the checkboxes
              <span>next to it</span>.
            </div>
          </li>
          <li class="work-item">
            <div>
              Click on
              <span>the basket</span> and fill out the form.
            </div>
          </li>
          <li class="work-item">
            <div>
              Sit back and relax! Your
              <span>fresh vegetables</span>
              basket will be delivered.
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
