<section id="vegetables" class="section vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-content">
      <h2 class="vegetables-content-title">organic <span>vegetables</span></h2>
      <p class="vegetables-content-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">eggplant</h3>
          <p class="vegetables-card-text">60 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/eggplant-2x.avif 2x,
            ./img/vegetables/eggplant-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/eggplant-1x.avif"
          alt="eggplant"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">leek</h3>
          <p class="vegetables-card-text">50 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/leek-2x.avif 2x,
            ./img/vegetables/leek-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/leek-1x.avif"
          alt="leek"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">mushrooms</h3>
          <p class="vegetables-card-text">40 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/mushrooms-2x.avif 2x,
            ./img/vegetables/mushrooms-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/mushrooms-1x.avif"
          alt="mushrooms"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">corn</h3>
          <p class="vegetables-card-text">60 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/corn-2x.avif 2x,
            ./img/vegetables/corn-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/corn-1x.avif"
          alt="corn"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">sweet potatoes</h3>
          <p class="vegetables-card-text">50 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/sweet-potatoes-2x.avif 2x,
            ./img/vegetables/sweet-potatoes-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/sweet-potatoes-1x.avif"
          alt="potato"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">carrot</h3>
          <p class="vegetables-card-text">40 uah / kg</p>
        </div>
        <img
          srcset="
            ./img/vegetables/carrot-2x.avif 2x,
            ./img/vegetables/carrot-1x.avif 1x
          "
          class="vegetables-list-item-img"
          src="./img/vegetables/carrot-1x.avif"
          alt="carrot"
        />
      </li>
    </ul>
  </div>
</section>
