<section class="section vegetables">
  <div class="container vegetables-container">
    <div class="vegetables-content">
      <h2 class="vegetables-content-title">organic <span>vegetables</span></h2>
      <p class="vegetables-content-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="vegetables-list">
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">eggplant</h3>
          <p class="vegetables-card-text">60 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/eggplant-x2.jpg 2x,
            ../img/vegetables/eggplant-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/eggplant.jpg"
          alt="eggplant"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">leek</h3>
          <p class="vegetables-card-text">50 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/leek-x2.jpg 2x,
            ../img/vegetables/leek-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/leek.jpg"
          alt="leek"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">mushrooms</h3>
          <p class="vegetables-card-text">40 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/mushrooms-x2.jpg 2x,
            ../img/vegetables/mushrooms-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/mushrooms.jpg"
          alt="mushrooms"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">corn</h3>
          <p class="vegetables-card-text">60 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/corn-x2.jpg 2x,
            ../img/vegetables/corn-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/corn.jpg"
          alt="corn"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">sweet potatoes</h3>
          <p class="vegetables-card-text">50 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/potato-x2.jpg 2x,
            ../img/vegetables/potato-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/potato.jpg"
          alt="potato"
          width="282"
        />
      </li>
      <li class="vegetables-list-item">
        <div class="card-content">
          <h3 class="vegetables-card-title">carrot</h3>
          <p class="vegetables-card-text">40 uan / kg</p>
        </div>
        <img
          srcset="
            ../img/vegetables/carrot-x2.jpg 2x,
            ../img/vegetables/carrot-x1.jpg 1x
          "
          class="vegetables-list-item-img"
          src="../img/vegetables/carrot.jpg"
          alt="carrot"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
