<section class="your-order-wrap">
  <div class="container">
    <div class="order-text-block">
      <h2 class="your-order-title">
        Fresh<span> Harvest </span>Box has got you covered
      </h2>
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-form-block">
      <div class="order-form-wrap">
        <h3 class="order-subtitle">
          Ordering <span>from us</span> is quick and easy! Fill out
          <span>the form</span> below and we will contact you !
        </h3>
        <form class="order-form">
          <label for="user-name"></label>
          <input
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full name"
            class="order-input"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
            required
          />
          <label for="user-email"></label>
          <input
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
            class="order-input"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <label for="user-comment"></label>
          <textarea
            name="comment"
            id="user-comment"
            class="comment-textarea"
            placeholder="Comment"
          ></textarea>
          <button type="submit" class="send-btn">Send</button>
        </form>
      </div>
      <div class="social-network-block">
        <picture>
          <source
            srcset="
              ./img/your-order/your-order-desk-2x.avif 2x,
              ./img/your-order/your-order-desk-1x.avif 1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/your-order/your-order-tab-2x.avif 2x,
              ./img/your-order/your-order-tab-1x.avif 1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/your-order/your-order-mob-2x.avif 2x,
              ./img/your-order/your-order-mob-1x.avif 1x
            "
            media="(min-width: 375px)"
          />
          <img
            src="./img/your-order/your-order-mob-1x.avif"
            alt="bottle in hand"
            width="295"
            height="273"
            class="social-content-img"
          />
        </picture>
        <p class="social-subtitle">Follow us on our social networks:</p>
        <ul class="social-link-list">
          <li class="social-link-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="social-link"
              >instagram</a
            >
          </li>
          <li class="social-link-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="social-link"
              >facebook</a
            >
          </li>
          <li class="social-link-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="social-link"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
