.hero {
  background-color: #576f35;
  width: 100%;
  margin: auto;
}
.hero-container {
  padding: 100px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
}
.hero-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    width: 768px;
  }
  .hero-container {
    padding: 122px 32px 50px 32px;
    gap: 25px;
  }
  .hero-title {
    font-size: 76px;
  }
  .hero-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
    display: flex;
  }
  .hero-container {
    padding: 238px 28px 50px 100px;
    gap: 128px;
  }
  .hero-title {
    font-size: 76px;
  }
  .hero-img {
    min-width: 650px;
    min-height: 800px;
  }
}
