.work-img-container {
  background-color: #7a3145;
}

.work-picture-wrap {
  padding: 40px 20px;
}

.work-img {
  width: 335px;
  height: 450px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 30px;
}

.work-text-bg {
  background-color: #576f35;
  padding: 80px 20px;
}
.work-text-wrap {
  margin: 0 auto;
  max-width: 335px;
}
.work-text-container {
  margin-bottom: 40px;
}

.work-content-wrap {
  max-width: 335px;
  margin: 0 auto;
}

.work-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  display: block;
  margin-bottom: 20px;
}

.work-subtitle span {
  color: rgba(251, 251, 251, 0.3);
}

.work-text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: section;
}

.work-item {
  background: #fbfbfb;
  border-radius: 15px;
  height: 76px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.6);
  padding-left: 100px;
  padding-right: 15px;

  display: flex;
  align-items: center;

  position: relative;
}

.work-item span {
  font-weight: 700;
  color: #141414;
}
.work-item::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  left: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  background: #7a3145;
  border-radius: 50%;
  outline: 5px solid rgba(122, 49, 69, 0.3);
  width: 42px;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .work-picture-wrap {
    padding: 100px 64px;
  }

  .work-img {
    width: 640px;
    height: 640px;
  }

  .work-text-bg {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .work-text-wrap {
    max-width: 450px;
  }

  .work-text-container {
    margin-bottom: 50px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  .work-subtitle {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .work-text {
    font-size: 16px;
    line-height: 1.25;
    width: 450px;
  }

  .work-item {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .work {
    background-color: #576f35;
  }

  .work-container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
  }

  .work-picture-wrap {
    padding: 100px;
  }

  .work-img-container,
  .work-text-bg {
    width: calc(100% / 2);
  }

  .work-text-bg {
    padding: 100px;
  }
}
